#footer
  width: 100%;
  background: #f8f8f8;
  text-align: center;
  color: #ccc;
  padding: 10px 0 0 0;
  line-height: 22px;
  border-color: #e0e0e0;
  font-size: 1.3em;
  a
    text-decoration: none
    &:hover
      color: color-theme;
      text-decoration: none

#footer-info
  line-height: line-height
  font-size: 1.3em
